div{
    position: relative;
}
.red{
    background-color: red;
    height:100px;
    width: 100px;
}
.blue{
    background-color: blue;
    height:50px;
    width: 50px;
}
#absolute{
    position: absolute;
    top:25px;
    left:25px;
}