body {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed blue;
    padding: 20px;
    width: 75%;
}
div{
    margin: 20px auto;
    height: 50px;
    width: 100px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5%;
}

html{
    height: 100%;
    border: 1px dashed blue;
}
#one{
    background-color: red;
}
#two{
    background-color: blue;
}
#three{
    background-color: yellow;
}
#four{
    background-color: green;
}