html{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    border-radius: 100%;
    background-color: aquamarine;
    height:100px;
    width:100px;
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease;
}
div:hover{
    background-color: blue;
}